.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 4.5rem);
}
.not-found h1 {
    font-size: 8rem;
}
.not-found h2 {
    font-weight: 100;
}
.link-voltar {
    display: flex;
    justify-content: center;
    background-color: #E50914;
    padding: 1.6rem 4rem;
    color: white;
    text-decoration: none;
    margin-top: .8rem;
    border-radius: 1rem;
}